@font-face {
  font-family: "UTM Avo";
  font-style: normal;
  font-weight: normal;
  src: local("UTM Avo"), url("font/utm-avo.woff") format("woff");
}

@font-face {
  font-family: "UTMAvoBold";
  font-style: normal;
  font-weight: normal;
  src: local("UTMAvoBold"), url("font/utm-avobold.woff") format("woff");
}

* {
  padding: 0;
  margin: 0;
  border: none;
}

.container {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
}

$color-primary: #4cc1fc;
$bgcolor-primary: #62c6f8;
$color-secondary: #4bbc56;
$font-primary: "UTM Avo", Arial, Helvetica;
$font-primary-bold: "UTMAvoBold", Arial, Helvetica;
$font-secondary: Arial, Helvetica, sans-serif;

@mixin flex-style($f, $ai: true, $fd: true, $jc: true) {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  @if $ai == true {
    align-items: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
  } @else {
    align-items: flex-start;
    -webkit-box-align: start;
    -moz-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
  }
  @if $fd == true {
    flex-direction: row;
    -moz-box-orient: inline-axis;
    -webkit-flex-direction: row;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row;
  } @else {
    flex-direction: column;
    -moz-box-orient: block-axis;
    -webkit-flex-direction: column;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
  }
  @if $jc == true {
    justify-content: flex-start;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: flex-start;
  } @else {
    justify-content: flex-end;
    -webkit-box-pack: end;
    -moz-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
  }
}
.row {
  margin: 0 -10px;
}
.col-4 {
  width: 33.3333333%;
}
[class^="col-"] {
  padding: 10px 10px;
  box-sizing: border-box;
}
ul {
  li {
    list-style: none;
  }
}
a {
  text-decoration: none;
  color: #000000;
}
button {
  font-family: "UTM Avo";
  width: 125.5px;
  height: 46px;
  font-weight: 900;
}
//========Header=======
.nav {
  font-family: Arial, Helvetica, sans-serif;
  border-top: 1px solid #e9e9e9;
  border-bottom: 1px solid #e9e9e9;
  box-sizing: border-box;
  &-wrap {
    @include flex-style(flex, true, true, true);
    height: 60px;
  }
  &-left {
    @include flex-style(flex, true, true, true);
  }
  &-item {
    font-size: 12px;
    padding: 24px 21.5px 20px 21.5px;
    border-left: 1px solid #e9e9e9;
    box-sizing: border-box;
  }
  &-link {
    text-transform: uppercase;
    font-size: 12px;
    color: #8e8e8e;
  }
  &-active {
    color: $color-primary;
  }
  &-item:first-child {
    padding-left: 26px;
    border: none;
  }
  &-right {
    @include flex-style(flex, true, true, false);
    margin-left: auto;
    .nav-item {
      margin-left: 10px;
      border: none;
      padding: 0;
    }
  }
}
.header-top-wrap {
  @include flex-style(flex, true, true, true);
  padding-top: 11px;
  padding-bottom: 12px;
  .header-left {
    @include flex-style(flex, false, false, true);
    margin-left: 18px;
    .page-title {
      text-transform: uppercase;
      padding-bottom: 2.5px;
      font: {
        family: $font-primary-bold;
        size: 20px;
      }
    }
    .page-desc {
      font: {
        family: $font-primary;
        size: 16px;
      }
    }
  }
  .header-right {
    @include flex-style(flex, true, true, false);
    margin-left: auto;
    .header-top-right-item {
      margin-left: 9px;
      font-family: $font-secondary;
      font-size: 14px;
      font-style: italic;
      font-weight: bold;
    }
    .phone-number {
      font-size: 18px;
      color: $color-primary;
    }
  }
}
//=========Main==========
.section-banner {
  @include flex-style(flex, true, true, true);
  background-image: url(./images/banner.png);
  width: 100%;
  height: 160px;
  color: #0d1d25;
  .breadcrumb {
    @include flex-style(flex, true, true, true);
  }
  .breadcrumb-link {
    font: {
      family: $font-primary;
      size: 12px;
    }
    text-transform: uppercase;
  }
  .breadcrumb-item + .breadcrumb-item:before {
    color: black;
    content: "\00a0/\00a0";
    margin: 0 10px;
  }
}
.section-main-content {
  margin-top: 75px;
  .layout-2col-left {
    @include flex-style(flex, false, true, true);
  }
  .layout-2col-sidebar {
    width: 31.3%;
  }
  .block {
    margin-bottom: 42px;
    background-color: #d9e4e9;
    &-title {
      padding-bottom: 18px;
      font: {
        family: $font-primary;
        size: 18px;
      }
      text-transform: uppercase;
    }
    &-title::after {
      content: "";
      display: block;
      width: 68px;
      padding-top: 17px;
      border-bottom: 1px solid $color-primary;
    }
    .categorise-title {
      @include flex-style(flex, true, true, true);
      text-transform: uppercase;
      font: {
        family: $font-primary;
        size: 12px;
      }
      padding-left: 20px;
      height: 50px;
    }
    .categorise-title::after {
      margin-left: auto;
      margin-right: 20px;
      content: "\2212";
    }
    .categorise-item-list {
      padding: 12px 17px 15px 19px;
      background-color: #ffffff;
    }
    .categorise-item-detail {
      list-style-position: inside;
      padding: 5.4px 0;
      &::before {
        content: "\2022";
        margin-right: 4px;
        color: #868e92;
      }
    }
    .categorise-item-link {
      font: {
        family: $font-primary;
        size: 12px;
      }
      text-decoration: none;
      color: #30393f;
    }
    &-booking {
      padding: 18px 20px;
    }
  }
  form {
    @include flex-style(flex, true, false, true);
    input[type="text"] {
      width: 100%;
      font-family: $font-secondary;
      height: 38px;
      margin-bottom: 16px;
      padding-left: 12px;
      box-sizing: border-box;
    }
    .input-book-time {
      width: 100%;
      position: relative;
    }
    .input-book-img {
      position: absolute;
      top: 7px;
      left: 228px;
    }
    .btn-submit-book-info {
      color: #ffffff;
      background-color: #4bbc56;
    }
  }
}
.service {
  @include flex-style(flex, true, true, true);
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  flex-wrap: wrap;
  -webkit-box-lines: single;
  -moz-box-lines: single;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  margin-top: -10px;
  margin-left: 10px;
  &-wrap {
    display: block;
    overflow: hidden;
    border: 1px solid #ebebeb;
    box-sizing: border-box;
  }
  &-card {
    padding-top: 19px;
    padding-left: 23px;
    padding-bottom: 22.5px;
  }
  &-name {
    font: {
      family: $font-secondary;
      weight: bold;
      size: 16px;
    }
    text-transform: uppercase;
    margin-bottom: 9px;
  }
  &-desc {
    margin: 0;
    font: {
      family: $font-secondary;
      size: 13px;
    }
    line-height: 18px;
  }
  &-link {
    @include flex-style(flex, true, true, false);
    margin-left: auto;
  }
}
//===========Footer==========
.page-footer {
  margin-top: 28px;
  background-color: $bgcolor-primary;
  color: #ffffff;
  font: {
    family: $font-secondary;
    size: 12px;
  }
  text-transform: uppercase;
  &-top {
    border-bottom: 1px solid #81d1f9;
    box-sizing: border-box;
  }
  .info {
    @include flex-style(flex, true, true, true);
    padding-top: 30px;
    padding-bottom: 20px;
    &-name {
      font: {
        family: $font-primary-bold;
        size: 18px;
        weight: 500;
      }
    }
    &-card-list {
      margin-top: 14px;
      font: {
        family: $font-secondary;
        size: 14px;
      }
      list-style-position: inside;
    }
    &-card-item {
      @include flex-style(flex, true, true, true);
      align-items: center;
      padding: 4.2px 0;
    }
    &-card-link {
      margin-left: 6px;
      color: #ffffff;
    }
    &-card-item-dot::before {
      content: "\2022";
      color: #ffffff;
      font-size: large;
    }
  }
  .page-footer-bottom {
    padding: {
      top: 25px;
      bottom: 25px;
    }
    font-family: $font-secondary;
    .footer-bottom-wrap {
      @include flex-style(flex, true, true, true);
    }
    .footer-bottom-left::before {
      content: "\0040";
    }
    .footer-bottom-right {
      margin-left: auto;
      &::after {
        content: "dd.com";
        margin-left: 5px;
        color: #86ffbf;
      }
    }
  }
}
