*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section,
summary {
  display: block;
}

a {
  color: #000000;
  text-decoration: none;
  -webkit-transition: all ease-in-out 0.2s;
  -moz-transition: all ease-in-out 0.2s;
  -o-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
  &:hover,
  &:focus {
    color: #62c6f8;
  }
}
@font-face {
  font-family: "UTM Avo";
  font-style: normal;
  font-weight: normal;
  src: local("UTM Avo"), url("font/utm-avo.woff") format("woff");
}

@font-face {
  font-family: "UTMAvoBold";
  font-style: normal;
  font-weight: normal;
  src: local("UTMAvoBold"), url("font/utm-avobold.woff") format("woff");
}

.container {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
}

$color-primary: #4cc1fc;
$bgcolor-primary: #62c6f8;
$color-secondary: #4bbc56;
$font-primary: "UTM Avo", Arial, Helvetica;
$font-primary-bold: "UTMAvoBold", Arial, Helvetica;
$font-secondary: Arial, Helvetica, sans-serif;

@mixin flex-style($f, $ai: true, $fd: true, $jc: true) {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  @if $ai == true {
    align-items: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
  } @else {
    align-items: flex-start;
    -webkit-box-align: start;
    -moz-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
  }
  @if $fd == true {
    flex-direction: row;
    -moz-box-orient: inline-axis;
    -webkit-flex-direction: row;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row;
  } @else {
    flex-direction: column;
    -moz-box-orient: block-axis;
    -webkit-flex-direction: column;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
  }
  @if $jc == true {
    justify-content: flex-start;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: flex-start;
  } @else {
    justify-content: flex-end;
    -webkit-box-pack: end;
    -moz-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
  }
}
.row {
  margin: 0 -10px;
}
.col-4 {
  width: 33.3333333%;
}
[class^="col-"] {
  padding: 10px 10px;
  box-sizing: border-box;
}
ul {
  li {
    list-style: none;
  }
}
a {
  text-decoration: none;
  color: #000000;
}
input {
  border: none;
}
button {
  font-family: "UTM Avo";
  width: 125.5px;
  height: 46px;
  font-weight: 900;
}
