$color-primary: #4cc1fc;
$bgcolor-primary: #62c6f8;
$color-secondary: #4bbc56;
$font-primary: "UTM Avo", Arial, Helvetica;
$font-primary-bold: "UTMAvoBold", Arial, Helvetica;
$font-secondary: Arial, Helvetica, sans-serif;
