.sticky-list {
  position: relative !important;
  display: block;
}
.sticky-list > .sticky-group {
  display: block;
}
.sticky-list > .sticky-group > .sticky-group-title {
  position: absolute !important;
}
