.section-login {
  background-image: linear-gradient(to bottom, #a7aef2, #69c2de, #00e4aa);
  font-family: map-get($map: $font, $key: default);
  padding: 150px 100px;
}
.icon-successs{
  margin-bottom: 25px;
  text-align: center;
}
.form-wrap {
  padding: 30px;
  border-radius: 8px;
  position:relative;
  background-image: 
  linear-gradient(map-get($map: $color, $key: primary), #d8da60), 
  linear-gradient(map-get($map: $color, $key: primary), #d8da60), 
  linear-gradient(map-get($map: $color, $key: primary), #d8da60),  
  linear-gradient(map-get($map: $color, $key: primary), #d8da60);
  background-position: 0 0, 0 0, 0 100%, 0 100%;
  background-size: 3px 0%, 0% 3px, 0% 3px, 3px 0%;
  background-repeat:no-repeat;
}
.form-wrap:before {
  content:"";
  position:absolute;
  z-index:-1;
  top:0;
  right:0;
  left:0;
  bottom:0;
}

.form-wrap:hover {
  background-position: 0 100%, 0 0, 0 100%, 100% 0;
  background-size: 3px 0%, 100% 3px, 0% 3px,3px 0%;
  animation: animate 1.4s linear infinite 0.2s;
}

@keyframes animate {
  0% {
  background-position: 0 100%, 0 0, 0 100%, 100% 0;
  background-size: 3px 0%, 100% 3px, 0% 3px,3px 0%;
  }
  40% {
  background-position: 0 100%, 100% 0, 100% 100%, 100% 0;
  background-size: 3px 0%, 100% 3px, 0% 3px,3px 100%;
  }
  60% {
  background-position: 0 100%, 100% 0, 100% 100%, 100% 100%;
  background-size: 3px 0%, 0% 3px, 100% 3px,3px 100%
  }
  70% {
  background-position: 0 100%, 100% 0, 0% 100%, 100% 100%;
  background-size: 3px 100%, 0% 3px, 100% 3px,3px 0%;
  }
  80% {
  background-position: 0% 0%, 0% 0, 0% 100%, 100% 100%;
  background-size: 3px 100%, 0% 3px, 0% 3px,3px 0%;
  }
  100% {
  background-position: 0% 0%, 0 0, 0 100%, 100% 100%;
  background-size: 3px 0%, 100% 3px, 0% 3px,3px 0%  
  }
}
.col-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: map-get($map: $color, $key: default);
  font-family: "Comic Sans MS", cursive, sans-serif;
  .title {
    margin-bottom: 20px;
    text-shadow: 0 5px rgba(117, 115, 115, 0.5);
    font: {
      size: 40px;
      weight: bold;
      style: italic;
    }
    text-decoration: underline;
  }
}
.fa-check-circle{
  font-size: xx-large;
  color: #4fa52e;
}
