@font-face {
  font: {
    family: "UTM Avo";
    style: normal;
    weight: normal;
  }
  src: local("UTM Avo"), url("font/utm-avo.woff") format("woff");
}
@font-face {
  font: {
    family: "UTMAvoBold";
    style: normal;
    weight: normal;
  }
  src: local("UTMAvoBold"), url("font/utm-avobold.woff") format("woff");
}
