@font-face {
  font-family: "UTM Avo";
  font-style: normal;
  font-weight: normal;
  src: local("UTM Avo"), url("font/utm-avo.woff") format("woff");
}
@font-face {
  font-family: "UTMAvoBold";
  font-style: normal;
  font-weight: normal;
  src: local("UTMAvoBold"), url("font/utm-avobold.woff") format("woff");
}
* {
  padding: 0;
  margin: 0;
  border: none;
}
body {
  font-family: "UTM Avo", Arial, Helvetica;
}
.container {
  padding: 0 180px;
}
/* .container-fluid {
  width: 100%;
} */
/* === Header === */
.page-header__top {
  padding-top: 11px;
  padding-bottom: 12px;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  align-items: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
}
.page-header__name {
  margin-left: 18px;
}
.page-header__title {
  font-family: "UTMAvoBold";
  text-transform: uppercase;
  display: block;
  font-size: 20px;
  padding-bottom: 2.5px;
  color: #0d1d25;
}
.page-header__description {
  display: block;
  font-size: 16px;
}
.page-header__contact {
  width: 50%;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  margin-left: auto;
  align-items: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  justify-content: flex-end;
  -webkit-box-pack: end;
  -moz-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
}
.page-header__help {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-style: italic;
  margin-left: 9px;
  font-weight: bold;
  color: #686868;
}
.page-header__help-number {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  margin-left: 7px;
  font-weight: bold;
  color: #4cc1fc;
}
.page-nav {
  font-family: Arial, Helvetica, sans-serif;
  border-top: 1px solid #e9e9e9;
  border-bottom: 1px solid #e9e9e9;
  box-sizing: border-box;
}
.container--nav {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-wrap: wrap;
  -webkit-box-lines: single;
  -moz-box-lines: single;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  margin: auto;
  height: 60px;
  align-items: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
}
.breadcrumb {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  list-style-type: none;
  border: 0;
}
.page-navbar__list {
  list-style: none;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  width: 78%;
  height: 100%;
}
.page-navbar__icon {
  width: 20%;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  justify-content: flex-end;
  -webkit-box-pack: end;
  -moz-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  align-items: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  margin-left: auto;
}
.page-navbar__item {
  padding: 24px 21.5px 20px 21.5px;
  border-left: 1px solid #e9e9e9;
  box-sizing: border-box;
  font-size: 12px;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  align-items: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
}
.page-navbar__item--icon {
  list-style: none;
  margin-left: 11px;
}
.page-navbar__item--first {
  border: none;
  padding-left: 26px;
}
.page-navbar__link {
  text-transform: uppercase;
  font-size: 12px;
  text-decoration: none;
  color: #8e8e8e;
}
.page-navbar__link--active {
  color: #62c6f8;
}
.page-navbar__item:hover .page-navbar__link {
  color: #70caf8;
}
.page-navbar__item:active .page-navbar__link {
  color: #70caf8;
}
/* === main === */
.section__banner {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  background-image: url(./images/banner.png);
  width: 100%;
  height: 160px;
  align-items: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
}
.breadcrumb__link {
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  color: #0d1d25;
}
.breadcrumb__item + .breadcrumb__item:before {
  color: black;
  content: "\00a0/\00a0";
  margin: 0 10px;
}
.page-main__content {
  margin-top: 75px;
}
.layout-2col__left {
  margin: auto;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
}
.layout-2col__sidebar {
  width: 31.3%;
}
.block__item {
  list-style: none;
}
.block__item-title {
  text-transform: uppercase;
  font-size: 12px;
  background-color: #d9e4e9;
  padding-left: 20px;
  height: 50px;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  align-items: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
}
.block__item-title::after {
  margin-left: auto;
  margin-right: 20px;
  margin-right: 20px;
  content: "\2212";
}
.block__item-list {
  padding: 12px 17px 15px 19px;
}
.block__item-detail {
  list-style-type: none;
  list-style-position: inside;
  padding: 3.5px 0;
}
.block__item-detail::before {
  content: "\2022";
  color: #868e92;
}
.block__item-link {
  text-decoration: none;
  color: #30393f;
  font-size: 12px;
}
.block-booking {
  background-color: #d9e4e9;
  padding: 18px 20px;
  margin-top: 42px;
}
.block__book-title {
  font-family: "UTMAvoBold";
  font-size: 18px;
  padding-bottom: 18px;
}
.block__book-title::after {
  display: block;
  content: "";
  border-bottom: 1px solid #62c6f8;
  width: 68px;
  padding-top: 17px;
}
.page-main__input-book-info {
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 38px;
  margin-bottom: 16px;
  padding-left: 12px;
  box-sizing: border-box;
}
.page-main__input-book-info--time {
  width: 100%;
  position: relative;
}
.page-main__input-book-info-img {
  position: absolute;
  top: 7px;
  left: 228px;
}
.page-main__btn-submit-book-info {
  font-family: "UTM Avo";
  color: #ffffff;
  font-weight: 900;
  background-color: #4bbc56;
  width: 125.5px;
  height: 46px;
}
.page-main__sick {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  flex-wrap: wrap;
  -webkit-box-lines: single;
  -moz-box-lines: single;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  width: 100%;
}
.page-main__sick-item {
  width: 31.31%;
  margin-left: 19px;
  margin-bottom: 20px;
  border: 1px solid #ebebeb;
  box-sizing: border-box;
}
.page-main__sick-link {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  justify-content: flex-end;
  -webkit-box-pack: end;
  -moz-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
}
.page-main__sick-img {
  width: 100%;
}
.page-main__sick-detail {
  padding-top: 19px;
  padding-left: 23px;
  padding-bottom: 22.5px;
}
.page-main__sick-title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 9px;
}
.page-main__sick-desc {
  margin: 0;
  font-size: 13px;
  line-height: 18px;
}
.page-main__sick-link-icon {
  background-color: #62c6f8;
  position: relative;
}
/* === footer === */
.page-footer {
  background-color: #62c6f8;
  color: #ffffff;
}
.page-footer {
  margin-top: 18px;
}
.page-footer-fluid {
  border-bottom: 1px solid #81d1f9;
  box-sizing: border-box;
}
.page-footer__content {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  padding-top: 42px;
  padding-bottom: 20px;
  box-sizing: border-box;
}
.page-footer__item {
  width: 33.3333333%;
  margin-right: 6px;
}
.page-footer__item-name {
  font-family: "UTMAvoBold";
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
}
.page-footer__item-list {
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 2px;
  margin-top: 20px;
  font-size: 12px;
  list-style-position: inside;
}
.page-footer__item-detail {
  margin-bottom: 16px;
  text-transform: uppercase;
}
.page-footer__coppy-right {
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 25px;
  padding-bottom: 25px;
}
.page-footer__coppy-right-text::before {
  content: "\0040";
}
.page-footer__item-list-icon {
  list-style: none;
  margin-top: 16px;
  font-size: 12px;
}
.page-footer__item-icon {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  align-items: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  margin-bottom: 7px;
}
.page-footer__item-link {
  margin-left: 8px;
  text-transform: uppercase;
}
.page-footer__author {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  justify-content: flex-end;
  -webkit-box-pack: end;
  -moz-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
}
.page-footer__author-name {
  color: #86ffbf;
  margin-left: 4px;
}
