.page-footer {
  margin-top: 28px;
  background-color: $bgcolor-primary;
  color: $color-d;
  font: {
    family: $font-secondary;
    size: 12px;
  }
  text-transform: uppercase;
  &-top {
    border-bottom: 1px solid #81d1f9;
  }
  .info {
    @include flex-style(flex, true, true, true);
    padding: {
      top: 30px;
      bottom: 20px;
    }
    &-name {
      padding-bottom: 15px;
      font: {
        family: $font-primary-bold;
        size: 18px;
        weight: 500;
      }
    }
    &-card-list {
      margin-top: 14px;
      font: {
        family: $font-secondary;
        size: 14px;
      }
      list-style-position: inside;
    }
    &-card-item {
      @include flex-style(flex, true, true, true);
      align-items: center;
      padding: 4.2px 0;
    }
    &-card-link {
      margin-left: 6px;
      color: $color-d;
    }
    &-card-item-dot::before {
      content: "\2022";
      color: $color-d;
      font-size: large;
    }
  }
  .page-footer-bottom {
    padding: {
      top: 25px;
      bottom: 25px;
    }
    font-family: $font-secondary;
    .footer-bottom-wrap {
      @include flex-style(flex, true, true, true);
    }
    .footer-bottom-left::before {
      content: "\0040";
    }
    .footer-bottom-right {
      margin-left: auto;
      &::after {
        content: "dd.com";
        margin-left: 5px;
        color: #86ffbf;
      }
    }
  }
}
