.service {
  @include flex-style(flex, true, true, true);
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  flex-wrap: wrap;
  -webkit-box-lines: single;
  -moz-box-lines: single;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  margin-top: -10px;
  margin-left: 10px;
  &-wrap {
    display: block;
    overflow: hidden;
    border: 1px solid #ebebeb;
    box-sizing: border-box;
  }
  &-card {
    padding-top: 19px;
    padding-left: 23px;
    padding-bottom: 22.5px;
  }
  &-name {
    font: {
      family: $font-secondary;
      weight: bold;
      size: 16px;
    }
    text-transform: uppercase;
    margin-bottom: 9px;
  }
  &-desc {
    margin: 0;
    font: {
      family: $font-secondary;
      size: 13px;
    }
    line-height: 18px;
  }
  &-link {
    @include flex-style(flex, true, true, false);
    margin-left: auto;
  }
}
