.nav {
  font-family: Arial, Helvetica, sans-serif;
  border: {
    top: 1px solid $color-c;
    bottom: 1px solid $color-c;
  }
  &-wrap {
    @include flex-style(flex, true, true, true);
    height: 60px;
  }
  &-left {
    @include flex-style(flex, true, true, true);
  }
  &-item {
    padding: 24px 21.5px 20px 21.5px;
    font-size: 12px;
    border-left: 1px solid $color-c;
  }
  &-link {
    color: #8e8e8e;
    font-size: 12px;
    text-transform: uppercase;
  }
  &-active {
    color: $color-primary;
  }
  &-item:first-child {
    padding-left: 26px;
    border: none;
  }
  &-right {
    @include flex-style(flex, true, true, false);
    margin-left: auto;
    .nav-item {
      margin-left: 10px;
      padding: 0;
      border: none;
    }
  }
}
.header-top-wrap {
  @include flex-style(flex, true, true, true);
  padding: {
    top: 11px;
    bottom: 12px;
  }
  .header-left {
    @include flex-style(flex, false, false, true);
    margin-left: 18px;
    .page-title {
      padding-bottom: 2.5px;
      font: {
        family: $font-primary-bold;
        size: 20px;
      }
      text-transform: uppercase;
    }
    .page-desc {
      font: {
        family: $font-primary;
        size: 16px;
      }
    }
  }
  .header-right {
    @include flex-style(flex, true, true, false);
    margin-left: auto;
    .header-top-right-item {
      margin-left: 9px;
      font: {
        family: $font-secondary;
        size: 14px;
        style: italic;
        weight: bold;
      }
    }
    .phone-number {
      color: $color-primary;
      font-size: 18px;
    }
  }
}
