.form-search {
  position: relative;
  .fa-search {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    color: map-get($map: $color, $key: accent);
  }
}
.step {
  display: none;
  animation-name: fade;
  animation-duration: 1.3s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.step-thank {
  .form-title-text {
    cursor: default;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    margin: auto;
    display: block;
    text-align: center;
  }
  .text-thank {
    position: relative;
    top: 20px;
    display: inline-block;
    -webkit-animation: bounce 0.3s ease infinite alternate;
    font-size: 80px;
    color: #fff;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc,
      0 5px 0 #ccc, 0 6px 0 transparent, 0 7px 0 transparent,
      0 8px 0 transparent, 0 9px 0 transparent, 0 10px 10px rgba(0, 0, 0, 0.4);
      &:nth-child(2) {
        -webkit-animation-delay: 0.1s;
      }
    
      &:nth-child(3) {
        -webkit-animation-delay: 0.2s;
      }
    
      &:nth-child(4) {
        -webkit-animation-delay: 0.3s;
      }
    
      &:nth-child(5) {
        -webkit-animation-delay: 0.4s;
      }
    
      &:nth-child(6) {
        -webkit-animation-delay: 0.5s;
      }
    
      &:nth-child(7) {
        -webkit-animation-delay: 0.6s;
      }
    
      &:nth-child(8) {
        -webkit-animation-delay: 0.2s;
      }
    
      &:nth-child(9) {
        -webkit-animation-delay: 0.3s;
      }
  }

  @-webkit-keyframes bounce {
    100% {
      top: -20px;
      text-shadow: 0 1px 0 #ccc, 0 2px 0 #ccc, 0 3px 0 #ccc, 0 4px 0 #ccc,
        0 5px 0 #ccc, 0 6px 0 #ccc, 0 7px 0 #ccc, 0 8px 0 #ccc, 0 9px 0 #ccc,
        0 50px 25px rgba(0, 0, 0, 0.2);
    }
  }
}
.form-title-text,
.form-title-des {
  font-weight: bold;
  text-align: center;
  padding-bottom: 30px;
  color: map-get($map: $color, $key: default);
}
.form-title-text {
  text-transform: uppercase;
}
.span-change {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  .point-step {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 30px;
    width: 30px;
    height: 30px;
    background-color: map-get($map: $bg-color, $key: default);
    border: 3px solid map-get($map: $bd-color, $key: default);
    border-radius: 50%;
  }
  .line {
    width: 35px;
    height: 3px;
    background-color: #59a53b;
    &:first-child {
      display: none;
    }
  }
}

.row {
  .warning {
    margin-left: 10px;
  }
}
.form-item {
  display: flex;
  margin-bottom: 50px;
  position: relative;
  border-radius: 20px;
  .fa-user,
  .fa-phone,
  .fa-barcode {
    position: absolute;
    left: 20px;
    top: 5px;
    font-size: large;
  }
  .fa-envelope,
  .fa-lock {
    position: absolute;
    left: 10px;
    top: 5px;
    font-size: large;
  }
  .warning {
    display: none;
    position: absolute;
    top: 38px;
    left: 35px;
    padding: 8px 10px;
    color: #be863d;
    background-color: #eccca1;
    border-radius: 5px;
  }
  .warning::before {
    content: "\2666";
    position: absolute;
    top: -18px;
    color: #eccca1;
    font-size: xx-large;
  }
}
.form-btn {
  padding-bottom: 30px;
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"] {
  width: 100%;
  font-size: map-get($map: $font-size, $key: md);
  padding: 5px 35px;
  border-radius: 10px;
  &:focus {
    box-shadow: 0px 0px 20px 10px #e6b87d;
    transition: box-shadow 0.3s ease-in-out;
  }
}
.form-show {
  width: 50%;
  margin: 0 auto;
  .form-item {
    color: map-get($map: $color, $key: default);
    .form-label {
      width: 50%;
      font-weight: bold;
    }
    .info-name {
      text-transform: capitalize;
    }
  }
}
